@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
.container {
  display: flex;
  justify-content: center;
  padding: 5em;
  flex-wrap: wrap;
}
.bannerimg {
  width: 17rem;
  height: 10em;
}
.bannerstyle {
  background: #c3e7fd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  width: 900px;
}
.bannertext {
  > h3 {
    font-family: "Bebas Neue", cursive;
    font-size: 2.5em;
  }
}
.violetBox {
  background: #d3b4f6;
  width: 8em;
  height: 10em;
  border-radius: 0px 100px 100px 0px;
}
.appButton {
  text-align: center;
  padding: 20px 50px;
  cursor: pointer;
  background: #1e272e;
  color: #fff;
  margin-right: 2em;
  border: none;
}
