.container {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-shrink: 1;
  }
  > h3 {
    padding: 2rem;
    font-size: 1.5rem;
  }
}
.cards {
  display: flex;
  gap: 1rem;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0em 5em;
}
